@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Open Sans',sans-serif;
}
nav{
    background-color: #000;
    color: #fff;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
}
.nav.active{
    background-color:#fff;
    color: #000;
}
.nav.active a{
    color: #000;
}
.web{
    margin: 0;
}
nav .web a{
    text-decoration: none;
    color: #fff;
    font-size: 26px;
}
nav .container{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
    max-width: 1200px;
    margin: 20px auto;
}
.nav.active .container{
    margin-block: 15px;
    font-weight: bold;
    font-size: 18px;
}
li{
    margin-inline: 30px;
}
.banner{
    background: url("https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    height: 100vh;
    width: 100%;
    background-size: cover;
    position: relative;
    z-index: -1;
}
.banner:before{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    /* background-image: linear-gradient(to top, #000 0%, rgba(0,0,0,0.2) 10%); */
    background: rgba(0,0,0,0.4);
    height: 100%;
}
.banner-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.content{
    padding-inline: 10px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Open Sans',sans-serif;
}
.content p{
    color: #333;
    line-height: 30px;
    letter-spacing: 1.2px;
}