@import url('https://fonts.googleapis.com/css?family=Oswald');

*{
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
    /* font-family: 'Oswald',sans-serif; */
}
small{
    display: block;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
}
.fa-heart{
    color: red;
}
.loveme{
    height: 440px;
    width: 300px;
    background: url("images/doggy<3.avif") no-repeat center center/cover;
    /* margin: auto; */
    cursor: pointer;
    max-width: 100%;
    position: relative;
    box-shadow: 2px 2px 20px;
    overflow: hidden;
}
.loveme .fa-heart{
    position: absolute;
    transform: translate(-50%,-50%) scale(0);
    animation: heart 0.6s linear infinite;
}

@keyframes heart {
    to{
        transform: translate(-50%,-50%) scale(10);
        opacity: 0;
    }
}