body{
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    margin:0 10px;
}
.image{
    max-width: 100%;
    margin: 10px;
    display: flex;
    flex: 1;
    transition: 0.9s ease-in-out;
}
img{
    max-width: 200px;
    height: 98vh;
    object-fit: cover;
    transition: 0.9s ease-in-out;
}
.image.active img{
    /* flex: 5; */
    max-width: 1200px;
}

@media screen and (max-width:700px) {
    
img{
    max-width: 50%;
    height: 100vh;
}
}
