@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

*{
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    font-family: 'Roboto Mono';
    background-color: rgb(134, 17, 40);
    color: #ffffff;
}
.counter-container{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    padding: 10px;
}
.counter{
    padding: 10px;
}
span{
    padding: 5px;
}

@media screen and (max-width:580px) {
    body{
      flex-direction: column;
    }  
}