*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.background {
    /* background: url('images/photo-1724752286363-846076c705a9.avif')
      no-repeat center center/cover; */
      background: url('https://images.unsplash.com/photo-1556745757-8d76bdb6984b')
      no-repeat center center/cover;
      position: absolute;
      top: -20px;
      bottom: -20px;
      right: -20px;
      z-index: -1;
      filter: blur(20px);
      width: 100%;
}
